body{
    background-image: url(../photo/Background.jpg);
  font-family:sans-serif;
}
div{
    display: block;
}
#main_menu{
    list-style:none;
    padding: 0%;
    text-align: center;
}
#main_menu li{
    display: inline-block;
}
#main_menu li a{
    display: block;
    padding:10px 20px;
    text-decoration: none;
    color:white;
    opacity:1;
    
}
#main_menu li a:hover{
    color:red;
}
#main_menu form {
    display: inline-flex;
     padding:10px 20px;
     text-decoration: none;
     color:white;
     opacity:1;
     
 }


ul {
    font-size: 20px;
    text-align: center;
    background-color: black
   
}
ul a{
    color: white;
}
ul a:hover{
    color:red
}


h1{
    text-align: center;
    color: white;
    padding: 30px 50px;
    font-size: 60px;
}
h2{
    text-align: center;
    color: white;
    font-size: 30px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
video{
    border-radius: 25px;
}
.bg_1{
    background-image: url(../photo/experience/model.jpg);

}
.bg_2{
    background-image: url(../photo/experience/student\ organizations.jpg);

}
.bg_3{
    background-image: url(../photo/experience/South\ Korea\ travel.jpg);

}
.bg_4{
    background-image: url(../photo/experience/movie.jpg);

}
.color_1{
    text-align: left;
    background-color:black
    


}
.color_2{
    background-color:black

}
.color_3{
    background-color:black

}
.color_4{
    background-color:black
}
html,body{
    height: 100%;
}
.fixed_bg, .infos{
    position: relative;
    height: 100%;
}
.fixed_bg{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.vcenter{
    position: absolute;
    left: 50%;
    top: 80%;
    color: white;
}